<!DOCTYPE html>
{% extends 'home_app/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
    <div class="about-head">
        <h1>About Us</h1>
        <div class="about-head-bottom"></div>
        <p>As you are our valuable customer, you have to know something about us.</p>
    </div>
    <div class="owner-row">
        <div class="owner">
            <img class="rounded-circle" src="{% static '/images/owner.png' %}" alt="">
            <h2>Mr. D.G.Mothe</h2>
            <p>Our Owner</p>
        </div>
        <div class="owner-details">
            <h2>About Owner</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laboriosam eaque consequatur incidunt
                animi rem placeat! Aliquid porro laudantium fuga accusamus, earum laboriosam. Sapiente, sed! Dolorem
                tenetur optio earum! In soluta minus facilis quo neque tempore quasi necessitatibus nesciunt quidem.
                Tempore dolor iste eos illo maxime libero. A, sint natus.</p>
        </div>
    </div>
    <div class="about-row-1">
        <div class="box">
            <img class="rounded-circle" src="{% static '/images/quality.png' %}" alt="">
            <h2>Quality</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos consequuntur recusandae. Laboriosam libero ducimus voluptate placeat. Officiis, magni nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, minima?</p>
        </div>
        <div class="box">
            <img class="rounded-circle" src="{% static '/images/trust2.png' %}" alt="">
            <h2>Trust</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos consequuntur recusandae. Laboriosam libero ducimus voluptate placeat. Officiis, magni nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, minima?</p>
        </div>
        <div class="box">
            <img class="rounded-circle" src="{% static '/images/iron-material.png' %}" alt="">
            <h2>Material We Use</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos consequuntur recusandae. Laboriosam libero ducimus voluptate placeat. Officiis, magni nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, minima?</p>
        </div>
    </div>
    <div class="about-row-1">
        <div class="box">
            <img class="rounded-circle" src="{% static '/images/resp2.png' %}" alt="">
            <h2>Responsibility</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, nobis cum. Odit dolores magnam est molestias hic temporibus fuga amet animi nemo, perspiciatis ducimus consequuntur. Corporis fugit asperiores, expedita optio, beatae accusamus recusandae quidem tenetur voluptates dicta quas! Labore, neque.</p>
        </div>
        <div class="box">
            <img class="rounded-circle" src="{% static '/images/exp.png' %}" alt="">
            <h2>Experience</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos consequuntur recusandae. Laboriosam libero ducimus voluptate placeat. Officiis, magni nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, minima?</p>
        </div>
        <div class="box">
            <img class="rounded-circle" src="{% static '/images/smile.png' %}" alt="">
            <h2>Feedback</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos consequuntur recusandae. Laboriosam libero ducimus voluptate placeat. Officiis, magni nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, minima?</p>
        </div>
    </div>
</div>
{% endblock %}