<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/prod_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/thankyou.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <script src="https://kit.fontawesome.com/b71f055dc5.js" crossorigin="anonymous"></script>

    <title>avironworks.in</title>
</head>

<body>
    <!-- <header class="header"> -->
    <nav class="navbar navbar-expand-lg my-bg-light-black">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/brand-logo1.png' %}" alt="Brand Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars fa-2x text-light"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://www.youtube.com/channel/UCvy_xj8pzVnxWV6h2VxO2xg/videos">Videos</a>
                </li>
            </ul>
            <form method="POST" action="/search_products" class="form-inline my-2 my-lg-0 nav-search" id="nav-search">
                {% csrf_token %}
                <input class="form-control mr-sm-2" id="nav-search-input" type="search" placeholder="Search Products"
                    aria-label="Search" name="search_input" required>
                <button onmouseenter="javascript:show_input()" class="btn my-bg-light-green my-2 my-sm-0 search-btn" type="submit">Search</button>
                <!-- <i class="btn fas fa-search fa-2x"></i> -->
            </form>
        </div>
    </nav>
    {% for message in messages%}
    <div class="alert my-alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{message}}
        <button type="button" href="/" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {%endfor%}

    {% block body_block %}

    {% endblock %}

    <footer class="footer">
        <div class="text-center">
            <div class="card-header">
                <div class="container">
                    <ul class="foot-ul">
                        <li class="foot-head-links"><a href="/about">About Us</a></li>
                        <li class="foot-head-links"><a href="https://goo.gl/maps/SfaXA92ZXzNMLKPm9"
                                >Our Location</a></li>
                        <li class="foot-head-links"><a href="/message">Write For Us</a></li>
                    </ul>
                    <div class="foot-head-border"></div>
                    <div class="foot-para">
                        <h4><span>Know</span> us, <span>Know</span> the quality.</h4>
                        <p>Visit our shop once, you will definitly love our services.</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h2 class="card-title">Follow Us On...</h2>
                <div class="social-links">
                    <a href="https://www.facebook.com/AV-Ironworks-1797517576938287"><i class="fab fa-facebook text-light"></i></a>
                    <a href="https://twitter.com/search-home?lang=en"><i class="fab fa-twitter text-light"></i></a>
                    <a href="https://www.youtube.com/channel/UCvy_xj8pzVnxWV6h2VxO2xg/videos"><i class="fab fa-youtube text-light"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram text-light"></i></a>
                </div>
            </div>
            <div class="card-footer">
                <p>avironworks.in © 2020 All Right Reserved!</p>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>